[flake8]
ignore =
    # E203 whitespace before ':'
    E203,
    # H301: one import per line
    H301,
    # H306: imports not in alphabetical order (time, os)
    H306,
    # W503 line break before binary operator
    W503,

max-line-length = 127

exclude = .git,__pycache__,old,build,dist,.venv,venv
