# Common files except under Common
/ardupilot/source/docs/common-*
/copter/source/docs/common-*
/plane/source/docs/common-*
/rover/source/docs/common-*
/planner/source/docs/common-*
/planner2/source/docs/common-*
/antennatracker/source/docs/common-*
/dev/source/docs/common-*

# Common CSS except under Common
/ardupilot/source/_static/common_*
/copter/source/_static/common_*
/plane/source/_static/common_*
/rover/source/_static/common_*
/planner/source/_static/common_*
/planner2/source/_static/common_*
/antennatracker/source/_static/common_*
/dev/source/_static/common_*

# Any build directory
*/build/*

# Logs
*.log

# Build outputs
*.html
*.pyc

# Vagrant
/.vagrant

# Parameters multiversioning
/copter/source/docs/parameters-Copter-*.rst
/plane/source/docs/parameters-Plane-*.rst
/rover/source/docs/parameters-Rover-*.rst
/antennatracker/source/docs/parameters-AntennaTracker-*.rst
/copter/source/docs/parameters-latest.rst
/plane/source/docs/parameters-latest.rst
/rover/source/docs/parameters-latest.rst
/antennatracker/source/docs/parameters-latest.rst
/copter/source/_static/parameters-Copter.json
/plane/source/_static/parameters-Plane.json
/rover/source/_static/parameters-Rover.json
/antennatracker/source/_static/parameters-Antennatracker.json


# Parameters files
/copter/source/docs/parameters.rst
/plane/source/docs/parameters.rst
/rover/source/docs/parameters.rst
/antennatracker/source/docs/parameters.rst

# Log messages files
/copter/source/docs/logmessages.rst
/plane/source/docs/logmessages.rst
/rover/source/docs/logmessages.rst
/antennatracker/source/docs/logmessages.rst
