/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: Oxygen;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}


.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-inner img {
    max-height: 480px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30px;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 30px; /* ArduPilot */
    height: 30px; /* ArduPilot */

}

.col_min {
    aspect-ratio: 4/3;
    width: 100%;
    min-height: 0; /* This is important! */
}

.card-header {
    min-height: 85px; /* Adjust this value as needed */
    display: flex;
    align-items: center;
}

.card-header h3 {
    margin-bottom: 0;
}

.text-justify {
  text-align: justify;
}
/* Make dropdown menu appear on hover */
/* .navbar-nav li:hover .dropdown-menu {
    display: block;
} */
